/*--- Variables START--*/
:root{
--green-one: rgb(49,201,94);  /*#31C95E*/
--green-two: rgb(18,150,57);  /*#129639*/
--green-three: rgb(48,99,22);  /*#306316*/
--purp-one: rgb(94,43,150);  /*#5D2B96*/
--purp-two: rgb(97,53,112);  /*#613570*/
--yellow-one: rgb(201,196,86);  /*#C9C456*/
--yellow-two: rgb(150,145,46);  /*#96912E*/
}
/*--- Variables END--*/
* {
    box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
/*-----------TABS START-------*/
.gallerPickerContainer{
  top:0;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  text-align: center;
  background-color: rgba(97,53,112, 0.5);
  margin-left: auto;
  margin-right: auto;
  z-index: 22;
}
.galleryPicker {
    background-color: var(--purp-two);
    font-family: 'Titillium Web', sans-serif;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.galleryPicker:hover{
  filter: brightness(130%);
}
/*-----------TABS END-------*/
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
}

.column img:hover {
  opacity: 0.95;
  box-shadow: 0 0 10px black;
  border: 1px solid white;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 51; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  align-items: center;
}

/* Modal Content (image) */
.modal-content img {
  margin: auto;
  display: block;
  width: auto;
  max-width: 1500px;
  max-height: 100vh;
}
/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}


/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: fixed;
  top:40%;
  width: auto;
  padding-top: 5em;
  padding-bottom: 5em;
  padding-left: 26px;
  padding-right: 26px;
  margin-top: -60px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.prev{
  left: 0;
}

/* Position the "next button" to the right */
.next {
  right:0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
    .wrapper {
      padding: 2em 0 0 0;
      margin: none;
    }
}

@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }

    .wrapper {
      padding: 2em 0 0 0;
      margin-left: -17px;
      margin-right: -17px;
    }
}
